<!-- Start of footer wrapper -->
<div id="footer_wrapper">

	<!-- Start of footer -->
    <div id="footer">

        <!-- Start of footer widget -->
        <div id="footer_widget">
        
        <a href="#"><img src="img/footer_logo.png" height="34" width="209" alt="bottom logo" /></a>
        
        <p><font color="red">白色标题栏的图片是logo，上面的也是logo。</font><br/>
        就这样，“他最终陷入了自己给自己写信的狂热中。 ”我喜欢这个故事，也喜欢这句话。
        它既狂欢又忧伤，或许，正道出了所有书信和小说的实质。</p>
        
        </div><!-- End of footer widget -->
               
        <!-- Start of footer right -->
        <div class="footer_right">
        
        <h5>不带序号的列</h5>
         
         <ul>
         <li><a href="#">湖北中科亿达</a></li>
         <li>湖北中科亿达</li>
         </ul>
         
         <h5>带序号的列</h5>
         
         <ol>
         <li><a href="#">湖北中科亿达</a></li>
         <li>湖北中科亿达</li>
         </ol>
         
         
        </div><!-- End of footer right -->
    
    </div><!-- End of footer -->
    
<div class="clear"></div>

</div><!-- End of footer wrapper -->

<!-- Start of bottom footer wrapper -->
<div id="bottom_footer_wrapper">

	<!-- Start of bottom footer -->
    <div id="bottom_footer">
    
    <img src="img/logo_emblem.png" height="27" width="39" alt="bottom logo emblem" />
    
    <p>&copy; Copyright &copy; 2013. <a href="{{ site.url }}">hbzkyd.com</a> All rights reserved.</p>
    
    </div><!-- End of bottom footer -->

</div><!-- End of bottom footer wrapper -->
