<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--[if IE 7 ]>    <html class= "ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class= "ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<head>

    {% include head.html %}

</head>

<body>
   {% include top.html param="business" %} 
 <!-- Start of slider wrapper -->
<div id="slider_wrapper">

	<!-- Start of breadcrumb wrapper -->
    <div id="breadcrumb_wrapper">

        <h1>business</h1>
        
            <!-- Start of breadcrumb -->
            <div id="breadcrumb">
        
                <!-- Start of breadcrumb ul -->
                <ul>
        
                    <li><a href="{{ site.url }}">首页</a></li>
                    <li>&#8250;&nbsp; 核心业务</li>
        
                </ul><!-- End of breadcrumb ul -->
        
            </div><!-- End of breadcrumb -->
            
	</div><!-- End of breadcrumb wrapper -->

</div><!-- End of slider wrapper -->

<!-- Start of wrapper -->
<div id="wrapper">

	<!-- Start of intro section -->
    <div class="intro_section">
                
        <!-- Start of business bg -->
        <div id="business-bg" class="clearfix">
                
            <!-- Start of image grid -->
            <ul class="image-grid grid clearfix">
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-39" data-id="id-1">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business1.jpg" alt="business 1" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                 
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-36" data-id="id-2">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business2.jpg" alt="business 2" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 2</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-37" data-id="id-3">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business3.jpg" alt="business 3" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 3</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-39" data-id="id-4">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business4.jpg" alt="business 4" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 4</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-39" data-id="id-5">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business5.jpg" alt="business 5" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 5</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-36" data-id="id-6">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business6.jpg" alt="business 6" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 6</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-37" data-id="id-7">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business7.jpg" alt="business 7" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 7</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-36" data-id="id-8">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business8.jpg" alt="business 8" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 8</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li> 
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
                
                
                <!-- ******************** THIS IS THE START OF business ITEM ******************** -->
                
                <li class="term-39" data-id="id-9">
                
                    <div class="view view-first"><!-- Start of view container -->

                        
                        <img src="img/business9.jpg" alt="business 9" width="305" height="227"/>
                        
                        <div class="mask"><!-- Start of mask -->
                        
                        <h5>business Title 9</h5>
                        <p>Some text here if you want</p>
                        
                        <a href="business_single.html" class="info">View Details</a> 
                        
                        </div><!-- End of mask -->

                    </div><!-- end of view container -->
                    
                    <span class="tiny"><a href="business_single.html">&raquo; View Details</a></span>
                    
                </li>
                
                <!-- ******************** THIS IS THE END OF business ITEM ******************** -->
                
            </ul><!-- End of image grid -->
                
        </div><!-- End of business bg -->
        
    </div><!-- End of intro section --> 
    
</div><!-- End of wrapper -->

<div class="clear"></div>

<!-- Start of footer wrapper -->
  {% include footer.html %}
</body>
</html>
