<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--[if IE 7 ]>    <html class= "ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class= "ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<head>

    {% include head.html %}

</head>

<body>

    {% include top.html param="contact" %}

<!-- Start of slider wrapper -->
<div id="slider_wrapper">

	<!-- Start of breadcrumb wrapper -->
    <div id="breadcrumb_wrapper">

        <h1>contact</h1>
        
            <!-- Start of breadcrumb -->
            <div id="breadcrumb">
        
                <!-- Start of breadcrumb ul -->
                <ul>
        
                    <li><a href="{{ site.url }}">首页</a></li>
                    <li>&#8250;&nbsp; 联系我们</li>
        
                </ul><!-- End of breadcrumb ul -->
        
            </div><!-- End of breadcrumb -->
            
	</div><!-- End of breadcrumb wrapper -->

</div><!-- End of slider wrapper -->

<!-- Start of wrapper -->
<div id="wrapper">

	<!-- Start of left content wrapper -->
    <div class="left_content_wrapper">
    
    	<!-- Start of post -->
        <div class="post">
        
        <h4>这是标题</h4>
        
        <p>这是文字文字</p>
        
        <p>发送信息到邮箱<a href="mailto:support@respond.com">support@respond.com</a></p>
        
        </div><!-- End of post -->
   
    </div><!-- End of left content wrapper -->
    
    <!-- Start of right content wrapper -->
    <div class="right_content_wrapper">
    
    	<!-- Start of text widget -->
        <div class="text_widget">
        
        <h2>更多信息</h2>
        
        <ul class="contact">
        	<li><span class="contact_title">联系电话</li>
            <li>电话: 1-800-987-6543</li>
            <li>传真: 1-800-987-6542</li>
        </ul>
        
        <ul class="contact">
        	<li><span class="contact_title">工作时间</span></li>
            <li>星期一 至 星期五</li>
            <li>(法定节假日除外)</li>
            <li>9:00 - 17:00</li>
        </ul>        

        <ul class="contact">
        	<li><span class="contact_title">地址</span></li>
            <li>湖北省</li>
            <li>武汉市</li>
            <li>东湖区</li>
        </ul>    

        </div><!-- End of text widget -->  
        
        <!-- Start of text widget -->
        <div class="text_widget">
        
        <h2>map</h2>

       <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82&amp;aq=&amp;brcurrent=3,0x342d050da2a63967:0xf3c9e0d1ade1b48e,1%3B5,0,0&amp;brv=27.1-cfcb28d3_7d169ccb_7b913f65_cd3b751f_fa22d089&amp;sll=30.546498,114.341862&amp;sspn=10.643078,20.214844&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82&amp;ll=30.593099,114.305393&amp;spn=0.664934,1.263428&amp;t=m&amp;z=10&amp;output=embed"></iframe><br/>

        </div><!-- End of text widget -->              
    
    </div><!-- End of right content wrapper -->

</div><!-- End of wrapper -->

<div class="clear"></div>

  {% include footer.html%}

</body>
</html>
